<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Obat</title>

    <link rel="stylesheet" 
    href="{{ url_for('static',filename='main.css')}}">
</head>
<body>
    
 <!-- ========================= -->
    <!-- SIDEBAR -->
    <!-- ========================= -->
    <div class="sidebar">

        <h2>RS SEHAT</h2>

        <!-- DASHBOARD -->
        <a href="/">
            Dashboard
        </a>

        <!-- ========================= -->
        <!-- DATA MASTER -->
        <!-- ========================= -->
        <div class="dropdown">

            <button class="dropdown-btn">
                Data Master ▼
            </button>

            <div class="dropdown-content">

                <a href="/pasien">
                    Data Pasien
                </a>

                <a href="/tenaga_medis">
                    Tenaga Medis
                </a>

                <a href="/ruangan">
                    Ruangan
                </a>

                <a href="/poliklinik">
                    Poliklinik
                </a>

            </div>

        </div>

        <!-- ========================= -->
        <!-- TRANSAKSI MEDIS -->
        <!-- ========================= -->
        <div class="dropdown">

            <button class="dropdown-btn">
                Transaksi Medis ▼
            </button>

            <div class="dropdown-content">

                <a href="/registrasi">
                    Registrasi
                </a>

                {% if session['level'] in ['admin', 'dokter'] %}
                <a href="/rekam_medis">
                    Rekam Medis
                </a>
                {% endif %}

                {% if session['level'] in ['admin', 'perawat'] %}
                <a href="/rawat_inap">
                    Rawat Inap
                </a>
                 {% endif %}

                 {% if session['level'] in ['admin', 'dokter', 'perawat'] %}
                <a href="/penunjang">
                    Pemeriksaan Penunjang
                </a>
                {% endif %}

            </div>

        </div>

        <!-- ========================= -->
        <!-- ADMINISTRASI & KEUANGAN -->
        <!-- ========================= -->
        <div class="dropdown">

            <button class="dropdown-btn">
                Administrasi & Keuangan ▼
            </button>

            <div class="dropdown-content">

                {% if session['level'] == 'admin' %}
                <a href="/billing">
                    Billing / Tagihan
                </a>
                {% endif %}

                <a href="/jadwal_dokter">
                    Jadwal Dokter
                </a>

                {% if session['level'] == 'admin' %}
                <a href="/users">
                    User / Akun
                </a>

                {% endif %}
            </div>

        </div>

        <!-- ========================= -->
        <!-- FARMASI -->
        <!-- ========================= -->
         {% if session['level'] in ['admin', 'perawat'] %}
        <a href="/farmasi">
            Farmasi
        </a>
        {% endif %}

        <!-- ========================= -->
        <!-- LOGISTIK -->
        <!-- ========================= -->
        <a href="/logistik">
            Logistik
        </a>
        <a href="/logout">
            Logout
        </a>

    </div>

<!---MAIN-->
 <div class="main">

    <!-- HEADER -->
        <div class="header">

            <h1>Edit Obat</h1>

        </div>

    <div class="header">

        <div class="table-container">

            <div class="form-group">

        <form method="POST">

            <div class="form-group">

                <label>Nama Obat</label>
                <input 
                type="text"
                name="nama_obat"
                value="{{ obat[1] }}">
            </div>
            
            <div class="form-group">

                <label>Kategori</label>
                <input 
                type="text"
                name="kategori"
                value="{{ obat[2] }}">
            </div>
            
            <div class="form-group">

                <label>Stok</label>
                <input 
                type="number"
                name="stok"
                value="{{ obat[3] }}">
            </div>
            
            <div class="form-group">

                <label>Harga</label>
                <input 
                type="number"
                name="harga"
                value="{{ obat[4] }}">
            </div>
            
            <div class="form-group">

                <label>Tanggal Expired</label>
                <input 
                type="data"
                name="expired"
                value="{{ obat[5] }}">
            </div>

            <button 
            type="submit"
            class="btn">
                Update
            </button>

        </form>
    </div>
</div> 
    
</body>
</html>